@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      background: #fff;
    }

    a{
      text-decoration: none;
    }

    li{
      list-style: none;
    }

     :root{
    --body-bg: rgb(255, 255, 255);
    --card-bg: rgb(235, 234, 234);
    --white: rgb(255, 255, 255);
    --black: rgb(0,0,0);
    --grey: rgb(223, 223, 223);

    --font-color: rgb(243, 85, 37);
    --font-grey-color: rgb(138, 138, 138);
    --font-hv-color: rgb(243, 85, 37);

    --icon-bg-color: rgb(243, 85, 37);
    --bg-color: rgb(0,0,0);
    --bg-hv-color: rgb(243, 85, 37);
    --bg-color-span: rgb(251, 217, 207);

    --pg-bg-color: rgb(0,0,0);
    --pg-bghv-color: rgb(243, 85, 37);

    --socialmd-bg-cl: rgb(170, 170, 170);
    --socialmd-bghv-cl: rgb(243, 85, 37);
}

/* --------------------------------- */

.top-nav{

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem ;
      
        
        .top-nav-right{
            display: flex;
           justify-content: center;
            align-items: center;
            gap: 3rem;
          
        }

        .email , .map{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
        .map, .email {
        i {
            color: var(--font-color);
            font-size: 1.3rem;
        }
        }

        .email{
            a{
                color: var(--font-grey-color);
                font-size: 0.875rem;
            }
        }

        .map{
            span{
                color: var(--font-grey-color);
                font-size: 0.875rem;
            }
        }

        .top-nav-left{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            a{
                color: var(--white);
                background-color: var(--socialmd-bg-cl);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-size: 0.875rem;
                transition: all 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background-color: var(--socialmd-bghv-cl);
                }
            }
        }

        
}


    /* boder -bottmo */
    hr{
        margin-top: 0.2rem;
        border: none;
        height: 1px;
        background-color: var(--grey);
    }

    /* ----------------------------------- */

      /* main-nav */
    .main-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.4rem;
        background-color: var(--icon-bg-color);
         position: sticky;
         top: 0;
         width: 100%;
         z-index: 1;
        
   

       
        .logo{
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--white);
        }

       .humburger-menu {
            display:none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 1.25rem;
            right: 2rem;
            width: 40px;
            height: 40px;
            z-index: 1;
            font-size: 2rem;
            cursor: pointer;
            color: var(--white);
            
        }
        .nav-links{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            position: relative;
            top: -100;

            a{
                color: var(--white);
                font-size: 1rem;
                font-weight: 500;
                padding: 0.5rem 0;
                transition: all 1s ease;

                &:hover{
                    color: var(--black);
                }
            }

            .btn{
                padding: 0.5rem 1rem;
                /* background-color: var(--bg-color); */
                color: var(--white);
                border-radius: 5px;
                transition: all 0.3s ease;
                position: relative;
                 
                .btn-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    font-size: 1.1rem;
                    left: 3px;
                    top: 15%;
                    background-color: var(--white);
                    width: 25px;
                    height: 25px;
                    padding:22px;
                    border-radius: 50%;
                    color: var(--icon-bg-color);
                    cursor: pointer;
                   
                   
                }

                button{
                    background-color:var(--black);
                    border: none;
                    color: var(--white);
                    font-size: 1rem;
                    font-weight: 500;
                    cursor: pointer;
                   padding: 10px 40px;
                   border-radius: 25px;
                   text-align: center;
                    transition: all 0.3s ease;
                  
                   &:hover{
                       color: var(--icon-bg-color);
                   }
                }
                
            }
            
        }
        .mobile-menu{
            display: none;
        }
        
    }
   

   
 

   

   

.hero {
      position: relative;
      height: 420px;
      background-image: url("../image/page-heading-bg.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hero::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    .hero-content {
      position: relative;
      text-align: center;
      color: #fff;
    }

    .breadcrumb {
      background: #fff;
      color: #000;
      display: inline-block;
      padding: 10px 22px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 22px;
    }

    .hero-content h1 {
        color: #fff;
      font-size: 56px;
      font-weight: 800;
      letter-spacing: 1px;
    }
    .contact-section {
  padding: 120px 0;
  background: #fff;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: start;
}

/* LEFT */
.section-tag {
  color: #ff5a2c;
  font-weight: 700;
  font-size: 14px;
}

.contact-left h2 {
  font-size: 42px;
  margin: 20px 0;
  line-height: 1.3;
}

.contact-left p {
  color: #555;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.contact-card {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #fff;
  padding: 22px 26px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  margin-bottom: 25px;
  width: 360px;
}

.contact-card i {
  font-size: 28px;
  color: #ff5a2c;
}

.contact-card h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-card span {
  font-size: 14px;
  color: #999;
}


.contact-right {
  background: #fff;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

.contact-right form {
  display: flex;
  flex-direction: column;
}

.contact-right label {
  font-size: 14px;
  margin: 15px 0 8px;
}

.contact-right input,
.contact-right textarea {
  padding: 14px 18px;
  border-radius: 30px;
  border: none;
  background: #f6f6f6;
  font-size: 14px;
}

.contact-right textarea {
  border-radius: 18px;
  min-height: 120px;
  resize: none;
}

.contact-right button {
  margin-top: 25px;
  width: 160px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #111;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-right button:hover {
  background: #ff5a2c;
}
.page {
  max-width: 1400px;   
  margin: 40px auto;   
  padding: 0 20px;    
}


.container {
  position: relative;
  display: flex;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
}


.map {
  width: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.footer {
  width: 100%;
  height: 70px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}



@media (max-width: 790px){
   .top-nav{
       display: none;
        gap: 0.5rem;
    }
      
    .main-nav{
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
         z-index: 1;
         position: fixed;
    
      


        .humburger-menu {
            display: flex;
        }
        .nav-links{
            position: absolute;
         
            width: 85%;
            /* height: 100vh; */
            background-color: var(--icon-bg-color);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            transition: all 0.3s ease;
            padding: 20px;
            margin-top: 8px;
            border-radius: 1rem;
           

            a{
                font-size: 1.5rem;
            }

            .btn{
                padding: 0.7rem 1.5rem;

                .btn-icon {
                    font-size: 1.3rem;
                    width:0px;
                    height:0px;
                    left: 5px;
                    top: 20%;
                   
                    
                    button{
                       padding: 1px;
                       font-size: 1rem;
                    }
                }

            }
          
        }
        .mobile-menu{
            display: flex;
    
        }
    
   

    }
}