@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--body-bg);
}

a{
    text-decoration: none;
}

:root{
    --body-bg: rgb(255, 255, 255);
    --card-bg: rgb(235, 234, 234);
    --white: rgb(255, 255, 255);
    --black: rgb(0,0,0);
    --grey: rgb(153, 153, 153);

    --font-color: rgb(243, 85, 37);
    --font-grey-color: rgb(138, 138, 138);
    --font-hv-color: rgb(243, 85, 37);

    --icon-bg-color: rgb(243, 85, 37);
    --bg-color: rgb(0,0,0);
    --bg-hv-color: rgb(243, 85, 37);
    --bg-color-span: rgb(251, 217, 207);

    --pg-bg-color: rgb(0,0,0);
    --pg-bghv-color: rgb(243, 85, 37);

    --socialmd-bg-cl: rgb(170, 170, 170);
    --socialmd-bghv-cl: rgb(243, 85, 37);
}





.top-nav{

        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem ;
      
        
        .top-nav-right{
            display: flex;
            juccstify-content: center;
            align-items: center;
            gap: 3rem;
          
        }

        .email , .map{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
        }
        .map, .email {
        i {
            color: var(--font-color);
            font-size: 1.3rem;
        }
        }

        .email{
            a{
                color: var(--font-grey-color);
                font-size: 0.875rem;
            }
        }

        .map{
            span{
                color: var(--font-grey-color);
                font-size: 0.875rem;
            }
        }

        .top-nav-left{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            a{
                color: var(--white);
                background-color: var(--socialmd-bg-cl);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                font-size: 0.875rem;
                transition: all 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    background-color: var(--socialmd-bghv-cl);
                }
            }
        }

        
    }

    /* boder -bottmo */
    hr{
        margin-top: 0.2rem;
        border: none;
        height: 1px;
        background-color: var(--grey);
    }
       

